/*
assigns #3D3D3D color to body and p
and background color #6D6D6D to body and h2
*/

$font-color: #3D3D3D;
$back-color: #6D6D6D;

body {
    color: $font-color;
    background-color: $back-color;
}

p {
    color: $font-color;
}

h2 {
    background-color: $back-color;
}
