/* Margin mixin */

$margin-10: 10px;
$margin-15: 15px;

@mixin margin($mg) {
    margin-left: $mg;
    margin-right: $mg;
}

body {
    @include margin($margin-10);
}

div {
    @include margin($margin-15);
}
